<%- include('../partials/header') %> 
<%- include('../partials/navUserShowNtwkNewDev') %>

<main id="left-page-content-box">
  <% devices.forEach(device => { %>
    <section class="list-container container">
      <div class="list-head">
        <a 
          href="/devices/<%= device._id %>" 
          class="list-name mono"
        ><%= device.name %></a>
        <a 
          href="/devices/<%= device._id %>" 
          class="list-subhead mono"
        ><%= device.ipAddress %></a>
        <form action="/devices/<%= device._id %>?_method=DELETE" method="POST">
          <button 
            class="list-head-delete-btn os" 
            type="submit"
          >Delete device</button>
        </form>
			</div>
    </section>
  <% }) %>
</main>

<%- include('../partials/footer') %>