<%- include('../partials/header') %> 
<%- include('../partials/navUserShowNetwkShowDev') %>

<main id="centered-page-content-box">
	<section class="show-container container">
		<% if (user.avatar) { %>
			<img 
				src="<%= user.avatar %>" 
				alt="Your avatar" 
				class="user-avatar-img-lrg"
			>
		<% } else { %>
			<h2 class="user-avatar-emoji-lrg">👤</h2>
		<% } %>
		<div class="data-container">
			<p class="show-data-label os">NAME</p>
			<h2 class="show-data os"><%= user.name %> </h2>
		</div>
		<div class="data-container">
			<p class="show-data-label os">EMAIL</p>
			<h2 class="show-data os"><%= user.email %> </h2>
		</div>
		<div class="data-container">
			<p class="show-data-label os">015o.net ADMIN</p>
			<h2 class="show-data os"><%= user.local ? "Yes" : "No" %> </h2>
		</div>
		<div class="data-container">
			<p class="show-data-label os">AUTHENTICATION AGENT</p>
			<h2 class="show-data os"><%= user.oAuthProvider %></h2>
		</div>
		<form action="/users/logout" class="button-container-lrg">
			<button type="submit" class="logout-button os">LOGOUT</button>
		</form>
	</section>
</main>

<%- include('../partials/footer') %>