<%- include('../partials/header') %> 
<%- include('../partials/navUserNewNtwkShowDev') %>

<main id="left-page-content-box">
  <% networks.forEach(network => { %>
    <section class="list-container container">
      <div class="list-head">
        <a 
          href="/networks/<%= network._id %>" 
          class="list-name mono"
        ><%= network.friendlyName %></a>
        <a 
          href="/networks/<%= network._id %>" 
          class="list-subhead mono"
        ><%= network.fullNtwk %></a>
        <form action="/networks/<%= network._id %>/connect">
          <button 
            class="list-head-btn os" 
            type="submit"
          >Connect device</button>
        </form>
      </div>
      <% devices.forEach(device => { %>
       
      <% }) %>
      <div class="list-item">

			</div>
    </section>
  <% }) %>
</main>

<%- include('../partials/footer') %>
